<a id="back-top"></a>
<header>
  <div class="site-header">
    <div class="media-obj">
      <div class="media-obj-section middle">
        <a href="{{root}}index.html">
          <picture>
            <source srcset="{{root}}img/bg-logo-80.jpg" media="(min-width: 992px)">
            <img class="media-obj" src="{{root}}img/bg-logo.jpg" alt="Beautiful Gardens">
          </picture>
        </a>
      </div>
      <div class="media-obj-section">
        <p class="media-heading"><a href="{{root}}index.html">Beautiful Gardens</a></p>
      </div>
    </div>
  </div>
</header>
