<a id="back-top"></a>
<header>
  <div class="site-header">
    <div class="container">
      <div class="media">
        <div class="media-left">
          <a href="index.htm">
            <picture>
            <source srcset="{{root}}img/bg-logo-80.jpg" media="(min-width: 992px)">
            <img class="media-object" src="{{root}}img/bg-logo.jpg" alt="Beautiful Gardens">
            </picture>
          </a>
        </div>
        <div class="media-body">
          <p class="media-heading">Beautiful Gardens</p>
        </div>
      </div>
    </div>
  </div>
</header>
