// Variable overrides

$brand-primary: #265d48;
$brand-secondary: #275914;
$brand-tertiary: #802916;
$brand-quaternary: #5f5720;
$brand-primary-medium: #8bd0b5;
$brand-primary-light: #cceadf;
$brand-primary-very-light: #e4fff7;
$brand-secondary-light: #a4b993;
$brand-secondary-very-light: #e7f0d6;
$text-color-light: #fff;
$gray-light-more: #ccc;
$gray-lighter-more: #f4f4f4;

$navbar-inverse-custom-bg: $brand-secondary;
$navbar-inverse-custom-active-bg: $brand-secondary-light;
$navbar-inverse-custom-link-color: #000;
$navbar-inverse-custom-color: $gray-lighter-more;

//=== Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color: $navbar-inverse-custom-color;
$navbar-inverse-bg: $navbar-inverse-custom-bg;
$navbar-inverse-border: darken($navbar-inverse-bg, 10%);

// Inverted navbar links
$navbar-inverse-link-color: $navbar-inverse-custom-color;
$navbar-inverse-link-hover-color: $navbar-inverse-custom-link-color;
$navbar-inverse-link-hover-bg: transparent;
$navbar-inverse-link-active-color: $navbar-inverse-custom-link-color;
$navbar-inverse-link-active-bg: $navbar-inverse-custom-active-bg;
$navbar-inverse-link-disabled-color: #444;
$navbar-inverse-link-disabled-bg: transparent;

// Inverted navbar brand label
$navbar-inverse-brand-color: $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color: #fff;
$navbar-inverse-brand-hover-bg: transparent;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg: $navbar-inverse-custom-active-bg;
$navbar-inverse-toggle-icon-bar-bg: #fff;
$navbar-inverse-toggle-border-color: $navbar-inverse-custom-active-bg;

$link-color-visited: #724e76;

/* Edit bootstrap.scss to pick CSS components used in project  */
@import "bootstrap.scss";
// Uncomment to use FontAwesome version 4
// @import "./font-awesome/font-awesome.scss";

/*!
 * Custom styles
 */

$font-family-sans-serif: Roboto, Helvetica, Arial, sans-serif;
$font-family-condensed: "Roboto Condensed", sans-serif;
$font-family-serif: "Bree Serif", serif;

body {
  background: $brand-secondary-very-light;
  font-family: $font-family-sans-serif;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: $font-family-serif;
}

a:visited {
  color: $link-color-visited;
}

.btn-primary:visited {
  color: $text-color-light;
}

.font-md-lg {
  font-size: 16px;
}

/* top of page */

#back-top {
  display: inline-block;
  background-color: $brand-secondary;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#back-top::after {
  content: "\e113";
  font-family: "Glyphicons Halflings";
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#back-top:hover {
  cursor: pointer;
  background-color: $brand-primary;
}
#back-top:active {
  background-color: #555;
}
#back-top.showbtn {
  opacity: 0.8;
  visibility: visible;
}

.site-header {
  width: 100%;
  height: 60px;
}

.site-header .media-heading {
  font-size: 24px;
  text-transform: uppercase;
  font-family: $font-family-serif;
  color: $brand-tertiary;
}

.site-header .media-heading a {
  color: $brand-tertiary;
  text-decoration: none;
}

.navbar-nav > li > a {
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  border-right: 1px solid $gray-light-more;
  text-transform: uppercase;
  font-family: $font-family-condensed;
}

.navbar-nav a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: $navbar-inverse-custom-active-bg !important;
  color: $navbar-inverse-custom-link-color !important;
}

#navbar .dropdown-menu {
  background-color: $navbar-inverse-custom-bg;
}

#navbar .dropdown-menu > li > a {
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  border-right: 0;
  text-transform: uppercase;
  font-family: $font-family-condensed;
  color: $text-color-light;
}

.menu-side {
  border-bottom: 1px solid $brand-primary;
}

.menu-side .nav > li + li {
  margin-top: 0;
}

.menu-side .nav a {
  border: 1px solid $brand-primary;
  border-bottom: none;
  background-color: $brand-primary-very-light;
}

.menu-side .heading {
  padding: 10px 15px 10px 15px;
  color: $text-color-light;
  background-color: $brand-primary;
}

.menu-side .nav > li > a:hover,
.nav > li > a:focus {
  background-color: $brand-primary-light;
}

section {
  padding: 20px 0;
}

.section-primary {
  background: $brand-primary;
  color: $text-color-light;
  padding: 60px 0;
}

.section-secondary {
  background: $brand-secondary;
  color: $text-color-light;
  padding: 60px 0;
}

.section-title {
  padding: 0 0 0 30px;
  color: $brand-primary;
}

.section-nonavbar {
  background: $brand-secondary;
  color: $text-color-light;
  padding: 30px 0 0 0;
}

.section-title hr {
  height: 3px;
  width: 100px;
  margin-left: 0;
  text-align: left;
  position: relative;
  background: $brand-tertiary;
  border: 0;
}

.section-header h2 {
  color: $brand-tertiary;
  margin-top: 0;
}

.panel-heading {
  font-size: 24px;
}

.fa-color {
  color: $brand-primary;
}

.feature-header {
  margin-top: 0;
}

.feature-list {
  padding-left: 5px;
}

.feature-list li {
  list-style: none;
  font-size: 18px;
  line-height: 2em;
}

.feature-logos img {
  margin: 4px;
}

.section-separator {
  height: 2px;
  background-color: $brand-tertiary;
  color: $brand-tertiary;
}

.links-list li {
  font-size: 18px;
  line-height: 2em;
}

.media-obj {
  display: block;
  margin-bottom: 1rem;
}
.media-obj img {
  max-width: none;
}
@media screen and (max-width: 39.9375em) {
  .media-obj.stack-for-small .media-obj-section {
    padding: 0;
    padding-bottom: 1rem;
    display: block;
  }
  .media-obj.stack-for-small .media-obj-section img {
    width: 100%;
  }
}

.media-obj-section {
  display: table-cell;
  vertical-align: top;
}
.media-obj-section:first-child {
  padding-right: 1rem;
}
.media-obj-section:last-child:not(:nth-child(2)) {
  padding-left: 1rem;
}
.media-obj-section > :last-child {
  margin-bottom: 0;
}
.media-obj-section.middle {
  vertical-align: middle;
}
.media-obj-section.bottom {
  vertical-align: bottom;
}

/* gallery index */

.gallery-index .item {
  position: relative;
  background: #fff;
  height: 100%;
  margin-bottom: 2%;
  overflow: hidden;
  box-shadow: 0 0 5px #dedede;
  border: 1px solid #fff;
}

.gallery-index .item-content {
  width: 100%;
  position: absolute;
  bottom: -10px;
  word-wrap: break-word;
}

.gallery-index .item-content header {
  position: relative;
  width: 100%;
  z-index: 3;
}

.gallery-index .item-content p {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.3em;
}

.gallery-index .item-content p:hover {
  background: url(../img/trans2.png);
  background: rgba(0, 0, 0, 0.7);
}

.gallery-index .item-content p a {
  display: block;
  padding: 12px 15px 17px 15px;
  text-decoration: none;
}

.gallery-index .item-content .item-caption {
  border-bottom: 0;
  font-size: 1.3em;
}

.gallery-index .item-content header a {
  font-weight: 400;
  font-size: 24px;
  color: white;
}

.gallery-index .item img {
  /*  position: absolute; */
  height: auto;
  width: auto;
  height: 100%;
  width: 100%;
  z-index: 2;
  text-align: center;
}

.gallery-return {
  padding-left: 30px;
}

footer {
  text-align: center;
  background: $brand-tertiary;
  color: $text-color-light;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer a {
  color: $brand-primary-light;
}

footer a:visited {
  color: $text-color-light;
}

footer a:hover {
  color: $brand-secondary-very-light;
}

#page-wrap {
  margin-right: auto;
  margin-left: auto;
  background: white;
  max-width: 1200px;
}

@import "tablesorter-theme-custom.scss";

// lightGallery
.garden-gallery > ul {
  margin-bottom: 0;
}
.garden-gallery > ul > li {
  float: left;
  margin-bottom: 15px;
  margin-right: 20px;
  width: 200px;
}
.garden-gallery > ul > li a {
  border: 3px solid #fff;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
}
.garden-gallery > ul > li a > img {
  transition: transform 0.15s ease 0s;
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}
.garden-gallery > ul > li a:hover > img {
  transform: scale3d(1.1, 1.1, 1.1);
}

@media (min-width: 990px) {
  .site-header {
    height: 80px;
  }
  .site-header .media-heading {
    padding-top: 10px;
  }
}

@media (min-width: 768px) {
  .site-header .media-heading {
    font-size: 40px;
  }
  .feature-logos img {
    margin: 10px;
  }
  .menu-side {
    width: 200px;
  }
}

@media (max-width: 990px) {
  .section-front .lead {
    margin-top: 16px;
  }
}

@media (max-width: 767px) {
  .navbar-text {
    float: right;
    padding-right: 10px;
    font-weight: bold;
  }
  #navbar .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 16px 15px 16px 40px;
  }
  .site-header .media-heading {
    padding-top: 10px;
  }
  .menu-side {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .site-header .media-heading {
    padding-top: 4px;
    line-height: 24px;
  }
}

/* Print styles */
@media print {
  #page-wrap {
    max-width: 100%;
  }
  section {
    padding-top: 5px;
  }
  .site-header {
    height: 83px;
    border-top: 2pt solid #000;
    border-bottom: 2pt solid #000;
  }
  .site-header .media-heading {
    padding-top: 0;
    font-size: 50px;
  }
  .site-header .media-heading a {
    color: $brand-tertiary !important;
  }
  .section-title h1 {
    color: $brand-primary !important;
  }
  .section-header h2 {
    color: $brand-tertiary !important;
  }
  .section-seperator {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    color: $brand-tertiary !important;
  }
  .feature-list li {
    font-size: 16px;
    line-height: 1.6em;
  }
  .links-list li {
    font-size: 16px;
    line-height: 1.6em;
  }
  .gallery-index .item-content {
    position: static;
  }
  .wow {
    visibility: visible !important;
    animation: none !important;
  }
  a[href]:after {
    content: none;
  }
  a[href^="http"]:after {
    content: " (" attr(href) ")";
  }
}